.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10; /* margem da esquerda */
}

.table-view .column-header .label {
    -fx-alignment: CENTER-LEFT;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
}

.table-row-cell {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.table-column {
    -fx-border-color: transparent;
}

.table-view {
    -fx-background-color: white;
    -fx-control-inner-background: white;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}



.table-column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.root {
    -fx-font-family: 'Segoe UI';
}

/* Remover seleção azul e linhas */
.table-row-cell:filled:selected,
.table-row-cell:filled:selected:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

/* Desabilitar seleção de linha */
.table-view .table-row-cell {
    -fx-selection-bar: transparent;
}

/* Ajuste para CheckBox alinhada */
.check-box-table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}